/*********************Tag Selectors************************/
body {
  background-color: #EDF6E5;
}

h1, h3 {
  color: #78DEC7;
}
hr {
  /* background-color: white; */
  border-style: dotted none none; /*top, left/right bottom*/
  /* border-style: none; */
  /* border-top-style: dotted; */
  border-color: grey;
  border-width:  5px;
  /* height: 2px; */
  width: 50%;
}

/*********************Class Selectors************************/
