@use '../custom' as *;
@use '../components/mixins' as *;

.navbar {
    @include media-breakpoint-down(lg) {
        text-align: center;
    }

    .navbar-brand {
        font-size: 2rem;
        font-weight: 500;
    }
}

.menu {
    background-color: $primary;

    .navbar-nav {

        .nav-link {
            color: $white;
            padding: 0 0.7rem;
            text-transform: capitalize;
            font-weight: 200;
            letter-spacing: 0.1em;
            
            
    
        }

        .nav-link:not(:first-child) {
             border-left: 1px solid $secondary;

             @include media-breakpoint-down(lg) {
                border-left: none;
            }
    
        }
        .modalBtn {
             border: none !important;
             letter-spacing: 0.1rem;

             @include media-breakpoint-down(lg) {
                border-left: none;
            }
    
        }
        
        .nav-link:hover:not(:last-child) {
            color: $white;
            border-top: 1px solid $secondary;
            transition: all .5s;

            @include media-breakpoint-down(lg) {
                border-top: none;
            }
        }

    }

}
