@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded {
    position: relative;
    font-weight: 500;
    margin: 0;
    

    span {
        position: absolute;
        background-color: $primary;
        width: 1.5rem;
        height: 1.5rem;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        border-radius: 50%;

        i {
            color: $white;
            font-size: .6rem;
            line-height: 1.5rem;
        }

    }

    &:hover {
        @include gradient;
        color: $white;

        span {
            right: 10px;
            background-color:rgba($black, 0.6);
            transform: scale(0.95) translateY(-50%);
            // transition: all 1s ease-in-out;
            @include transitionProperty;
        }
    }
}