@use '../custom' as *;

// GRADIENT MIXIN 
@mixin gradient {
    background: linear-gradient(to right, rgba($primary, 0.80), rgba($secondary, 0.80));
}

// ABSOLUTE CENTER 
@mixin absoluteCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// TRANSITION PROPERTY 
@mixin transitionProperty {
    transition-duration: 1s;
    transition-property: all;
    transition-delay: 1s ease-in-out;
}

// LETTER SPACING
@mixin letterSpacing {
    letter-spacing: 0.1rem;
}